* {
  color: #121212;
}

html, body {
  width: 100%;
  height: 100%;

  overflow: hidden;
  position:  relative;
  font-family: 'Gloria Hallelujah', cursive;
  background-image:url('https://i.postimg.cc/q7xQ2XcL/Mika-Mix-2.png'); 
  /* background-image:url('https://i.postimg.cc/yxKYv7DX/14.png');  */
  background-color: rgb(255, 255, 255);
  background-clip: border-box;
  background-repeat:round;
  background-size: 100%;
}
.home{
  font-family: 'Cabin Sketch', cursive;
  font-size: 1000%;
  margin-left: 20%;
  margin-top: 5%;
}
a {
  text-decoration:none;
}
.posicaoindex{
  margin-top: -20%;
}
.leitao{
  padding-top: 20%;
}
.codorna{
  width: 60%;
  margin-left: 15%;
  padding-bottom: 20%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Hammersmith One', sans-serif;
  line-height: 0.2em;
  margin-top: -10%;   
  width: 90%;  
  height:70%;
  text-align: center;
  /* border: 30px solid blue; */
}
table td{
  /* border: 1px solid blue; */
  text-align: center;
  width: 50%;
}
.coluna{
  text-align: right;
}

.img-iconshome{
  width: 75%;
  margin-left: 25%;
  
  /* background-color: #d0dae6;
  border-radius: 20%; */

}
.textomenu{
  font-size: 300%;
  margin-left:30%;
  margin-top:10%;
}

.sobre{
  width: 40%;
  height:5%;
  margin-left: 60%;
  padding: 2em 0;
  cursor: pointer;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  overflow: hidden;
}
.img-sobre{
  width: 70%;
  opacity : 0.6;
  margin-top: 5%;
 }

 .voltar{
  font-family: 'Cabin Sketch', cursive;
  font-weight: bold;
  font-size: 550%;
  position: fixed;
  margin-top: -22%;
  margin-left:10%;  
}
.composicao{
  font-family: 'Cabin Sketch', cursive;
  font-weight: bold;
  font-size: 550%;
  margin-top: -15%;
  margin-left:10%;  
}

.navegacaoresultado{
  font-weight: bold;
  font-size: 300%; 
  margin-left: 5%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 15%;
}

.navegacao{
  font-weight: bold;
  font-size: 225%; 
  width: auto;
  margin-left: 5%;
  font-family: 'Gloria Hallelujah', cursive;
  margin-top: 3%;
}
.navegacaomenu{
  width:fit-content;
  padding: 1%;
  background-color:lightblue;
  border: 5px solid #E5E5E5;
  border-radius: 30px 30px 30px 30px; 
  border-bottom: 5px solid #cacaca;
    
  color:rgb(39, 44, 42);
  text-shadow: 0.1em 0.1em 0.2em rgb(252, 255, 222);  
  font-weight: bold;
}
.img-icons{
  width: 100%;
  margin-left: 15%;
}
.textomenu2{
  font-size: 450%;
  margin-top:5%;
  word-wrap:break-word;
  line-height: 1em;
  padding: 0 0 0 0.5em;
}

.composicao {
  width: 80%;
  height: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -60%;
}
.composicao h2{
  font-family: 'Gloria Hallelujah', cursive;
  line-height: 100%;  
  font-size: 100%;
  color: whitesmoke;
  text-align: left;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.composicao p{
  color: whitesmoke;
  font-family: 'Hammersmith One', sans-serif;
  text-align: justify;
  text-shadow: 0.1em 0.1em 0.2em black;
  font-size: 55%;
  line-height: 130%;
  text-indent: 10%;
}
.containersobre {
  width: 85%;
  height: 65%;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 300%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25%;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.containersobre h2 {
  font-family: 'Gloria Hallelujah', cursive;
  line-height: 100%;  
  font-size: 200%;
  color: whitesmoke;
  text-align: left;
}
.containersobre p {
  color: whitesmoke;
  text-indent: 10%;
  margin-bottom: 10%;
  text-align: justify;
}
 .containersobre .avatar {
  float: right;
  margin-right: -8%;
  margin-left: -26%;
  margin-top: -33%;
  height: 40%;
  padding: 0 0 0.2em 0.5em;
}
 .containersobre .avatar img {
  /*border-radius: 10%;*/
  height: 120%;
  width: 60%;
  object-fit: cover;
  object-position: right;
  margin-left: 20%;
  clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
 
}

.linhasobre {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 10%;
}
.item {
  padding: 5%;
  margin: 2%;
  width: 15%;
}
.img-size{
  width: 130%;
  margin-top: -6%;
}
.img-size2{
  width: 100%;
}
.img-size3{
  width: 85%;
  margin-top: 10%;
}

button {
  width: 60%;
  padding: 5% 0;  
  cursor: pointer;
  
  font-size: 200%;
  font-weight: bold;
  text-transform: uppercase;
  
  transition: .2s ease;
  color: #fff;
  background-color: #8ea5c1;
  box-shadow: 0 -2px 10px 2px rgba(0,0,0,.25);
  
  border: 5px solid #E5E5E5;
  border-radius: 20px 20px 20px 20px; 
  border-bottom: 5px solid #cacaca;
}
select {
  font-size: 30px;
  width: 100%;
  height: 100%;
  font-weight: bolder;
  border: 5px solid #E5E5E5;
  border-radius: 20px 20px 20px 20px;
}
option{
  font-size: 15px;
}

input {
  line-height: 2.5em;  
  font-size: 300%;
  font-weight: lighter;
  border: 5px solid #E5E5E5;
  border-bottom: 2px solid #cacaca;
  border-radius: 20% 20% 20% 20%; 
  width: 100%;
  height: 100%;
}
.botaof{
  width: 100%;
}
.cont{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 70%;
  padding: 1%;
  padding-right: 3%;
}
.linhamix{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 4%;
  font-weight: bolder;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 3%;
}
.itemlabel {
  font-size: 250%;
  margin: 3%;
  width: 15%;
}
.itemselect {
  margin: 2%;
  width: 50%;
}
.iteminput{
  margin: 2%;
  width: 13%;
}
.iteminput p{
  margin-top: -30%;
  font-size: 200%;
  line-height:0mm;
}
.itemlabelpb {
  margin: 3%;
  width: 15%;
  font-size: 250%;
}
.itemlabelpb p{
  width: 150%;
}
.itemlabelpb2 {
  margin-left: 3%;
  width: 35%;
  font-size: 250%;
}
.inputpb{
  width: 90%;
  height: 50%;
  margin-left: 30%;
}
.inputpb2{
  width: 90%;
  height: 50%;
  margin-left: -50%;
}
.itempb {
  margin: 2%;
  width: 15%;
}
.rodape {
  position: fixed;
  width: 100%;
  bottom:0.5;
  left:0;
}
.tableracao{
  font-size: 350%;
  padding: 5%;
  text-align: left;
  justify-content: left;
  align-items: left;
}
.tableracao td{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  width: auto;
}
.contresultado{
  display: flex;
  flex-direction: column;
  height: 70%;
  padding: 1%;
  padding-right: 3%;
  margin-left: 5%;
}
.materia{
  font-weight: bold;
  font-size: 300%; 
  margin-right: 10%;
  font-family: 'Gloria Hallelujah', cursive;
  margin-top: 10%;
  margin-bottom: 5%;
  justify-content: right;
  text-align: right;  
}
.aviso{
  font-size: 230%;
  margin-top: 15%
}
.navegacaorebanho{
  width:fit-content;
  padding: 1%;
  
  border: 5px solid #E5E5E5;
  border-radius: 30px 30px 30px 30px; 
  border-bottom: 5px solid #cacaca;
    
  color:rgb(39, 44, 42);
  text-shadow: 0.1em 0.1em 0.2em rgb(252, 255, 222);  
  font-weight: bold;
}